.home{
    height: calc(100vh - 80px);
}

.chatbox{
    border-bottom:2px solid var(--blue);
    display: flex;
    padding:10px;
    justify-content: flex-start;
    align-items: center;
    gap:15px;
    cursor: pointer;
    text-decoration: none;
    color: var(--blue);
}
