.messages-container {
  margin-top: 10px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 20px 80px 20px;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.message-box {
  background-color: var(--blue);
  border-radius: 50px;
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.message-box.current-user {
  background-color: var(--yellow);
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.message-box.current-user .author {
  align-self: flex-end;
  color: var(--blue);
}

.message-box.current-user .message-text {
  align-self: right;
  text-align: right;
}

.message-box:not(.current-user) {
  align-self: flex-start;
  border-top-left-radius: 0;
}

.message-box.system-message{
  background-color: gray;
  border-radius: 50px;
  align-self: center;
  font-size: 13px;
}

.message-box.system-message .author{
  display: none;
}


#send-button {
  font-size: 27px;
  background-color: var(--yellow);
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100%;
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.author {
  align-self: flex-start;
  color: var(--yellow);
}

.message-text {
  align-self: left;
  text-align: left;
  color: white;
}

.input-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 40px;
  padding: 65px 0px 40px 0px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(255, 255, 255) 30%);
}
.message-input{
  width: 90%;
  max-width: 50rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#file {
  display: none;
}
.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fileUploadWrapper label svg {
  height: 18px;
}
.fileUploadWrapper label svg path {
  transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
  stroke: #fff;
}
.fileUploadWrapper label:hover svg circle {
  stroke: #fff;
  fill: #3c3c3c;
}
.fileUploadWrapper label:hover .tooltip {
  display: block;
  opacity: 1;
}
.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: var(--yellow);
  font-size: 10px;
  text-wrap: nowrap;
  background-color: var(--blue);
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
  transition: all 0.3s;
}


#messageInput {
font-size: 17px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding:0px 10px;
  color: var(--blue);
}
#messageInput:focus ~ #sendButton svg path{
  fill: var(--yellow);
  stroke: var(--blue);
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  stroke: var(--blue);
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: var(--yellow);
  stroke: var(--blue);
  transform: scale(0.90);
}




@media (max-width:768px) {}