* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}

.home {
  margin-top: 80px;
}

.App {
  text-align: center;
}

.loader{
  margin: auto;
  width:100%;
  height: 100%;
}
